// Dashboard Styling
// --------------------------------------------------

// Dashboard Wrapper: Contains sidebar navigation + dashboard content
// --------------------------------------------------
.dashboard-wrapper {
  // &:extend(.row all);

  padding-top: 0.75%;
  height: 100%;
}

// Left Navigation + Content View
// --------------------------------------------------
.nav-dashboard-wrapper,
.dashboard-content {
  padding: 0 1%;
}

.nav-dashboard-wrapper {
  &:extend(.col-xs-12 all, .col-sm-6 all, .col-md-4 all, .col-lg-4 all);

  height: 100%;

  .nav-dashboard {
    padding: 0;
    height: 100%;

    .list-group-item {
      border: none;
      padding: 0;
    }
  }

  .panel {
    .panel-connect {
      margin-top: -2px;
      &:extend(.btn-xs, .pull-right);
      width: 90px;
    }

    .panel-body {
      padding: 0;

      ul {
        margin: 0;
        list-style-type: none;
        margin-left: 0;
        padding: 0;
        }

        li {
          a {
            display: block;
            padding: 2% 3.1%;
            color: @gray-dark;
            border-bottom: 1px @gray-lighter solid;

            &:hover {
              background-color: @brand-apibluelight;
              text-decoration: none;
            }
          }

          .types-selected {
            background-color: @brand-apibluelight;
          }

          &:nth-child(even) {
            background-color: lighten(@gray-even-lighter, 2%);
          }

          &:last-child {
            a {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  .panel-default {
    > .panel-heading {
      background-color: @gray-lighter;
      cursor: pointer;
    }
  }

  /*
  .list-group {
    margin-bottom: 0;
  }
  */

.types-selected {
  background-color: @brand-apibluelight;
}

// Dashboard Content
// --------------------------------------------------

.dashboard-content {
  &:extend(.col-xs-12 all, .col-sm-6 all, .col-md-8 all, .col-lg-8 all);

  height: 100%;

  h1 {
    // &:extend(.pull-left);
  }

  h3 {
    clear: both;
  }

  h4 {
    // border-bottom: 1px @gray-even-lighter solid;

    > a {
      font-size: @font-size-h6;
    }
  }

  table
   {
    &:extend(.table all, .table-striped all);
  }

  // Welcome Page
  .btn-register-app {
    &:extend(.btn-lg all);

    width: 25%;
    text-align: center;

    &:before {
      content: "Register Your App!";
    }

    &:hover {
      &:extend(.btn-green all, .btn-lg);

      .transition(background .25s ease-in-out, border .25s ease-in-out;);

      &:before {
        content: "Coming Soon!";
      }
    }

    color: @gray-light;
  }
}

// Try URI Landing Page
// --------------------------------------------------
.try-uri-intro {
  h1 {
    padding-bottom: 1.5%;
    border-bottom: 1px @gray-lighter dashed;
  }
  ol {
    padding-left: 20px;
    padding-bottom: 1.5%;
    list-style-type: none;
    counter-reset: li;

    li {
      position: relative;
      padding: 2% 1% 2% 5%;
      font-size: 1.25em;

      &:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -20px;
        top: 65%;
        margin-top: -1.3em;
        width: 2em;
        height: 2em;
        font-size: 1.5em;
        line-height: 2em;
        text-align: center;
        color: #fff;
        background: lighten(@gray-light, 20%);
        border-radius: 2em;
      }
    }

    @media screen {
      @media (max-width: @screen-md-min) {
        li {
          font-size: 1.15em;

          &:before {
            top: 70%;
            margin-top: -1.275em;
            width: 1.5em;
            height: 1.5em;
            font-size: 1.25em;
            line-height: 1.5em;
          }
        }
      }
    }
  }

  .import-data-modules {
    p {
      margin: 0 0 2% 0;
    }
    code {
      margin: 1% 0;
      display: block;
    }
  }
}

.help {
  margin: 0 0 1% 0;
  padding: 1%;
  // width: 70%;
  background-color: desaturate(lighten(@brand-primary, 55%), 40%);
  border-radius: .25em;

  @media screen {
    @media (max-width: @screen-md-min) {
      width: 100%;
    }
  }
}

// JSON Output
// --------------------------------------------------
.tryuri-output {
  // &:extend(.row);

  padding: 0;
  min-height: 400px;

  /*&:before {
    display: block;
    width: 100%;
    margin: 0 0 1% 0;
    padding: 1%;
    content: "JSON Output";
    color: @gray-light;
    background: @gray-lighter;
  }*/
}

code {
  margin: 0;
  padding: 1%;
  white-space: pre-wrap;
  background-color: @gray-even-lighter;
  color: @gray-darker;
}

.push {
  clear: both;
  position: relative;
}
