// Loading
// --------------------------------------------------

.loading-modal {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 10%;
  height: 100%;
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
}
