// Loading
// --------------------------------------------------

.loading-modal {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 10%;
  height: 100%;
  background-color: rgba(0,0,0,0.65);
}
