// Try URI
// --------------------------------------------------

.js-sample-uri {
  font-size: @font-size-base;
}

.tryUri {
  .bar {
    height: 68px;
  }
}

.js-input-container {
  &:extend(.input-group all);

  .js-uri {
    &:extend(.form-control all);

    width: 100%;
    line-height: 1.6em;
    border: 1px @gray-lighter solid;
    .border-right-radius(0);
    resize: none;
    overflow-y: hidden;
  }

  .tryuri-button {
    &:extend(.input-group-btn all);

    vertical-align: top;

    button {
      &:extend(.btn-green all);
      .border-left-radius(0);
    }
  }
}
