<p>Please enter your mail server information:<br/>
<!--<a href="javascript:void(0);" class="modal">Why do I need to give you this?</a></p> -->
<!--<div id='messageContainer'>
<% if (message) { %>
<p><span class="error"><%= message %></span></p>
<% } %>
</div>-->

<form name='loginForm' action="/auth/imap/callback" method="post" onsubmit="return validateLogin()">
	<div>
	<label>Username:</label>
	<input type="text" name="username" {{ #username }}value="{{ username }}"{{ /username }} placeholder="Your email login name" /><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
    <div>
    <label>Server:</label>
    <input type="text" name="server" {{ #host }}value="{{ host }}"{{ /host }} placeholder="mail.yourserver.com"/><br/>
    </div>
    <div>
    <label>Port:</label>
    <input type="text" name="port" {{ #port }}port value="{{ port }}"{{ /port }} {{ ^port }}value="993"{{ /port }} />
    <input type="checkbox" name="secured" CHECKED />Secured
    </div>

	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>

<script language="javascript">
  function validateLogin()
  {
    var username = document.forms['loginForm']['username'].value;
    var password = document.forms['loginForm']['password'].value;

    if( username == null || username =='' || password==null || password == '' )
    {
        $( '#messageContainer' ).html( '<p><span class="error">You must provide both a username and password.</span></p>' );
        return false;
    }
  }
 
  $(document).ready(function() { 
    //Change these values to style your modal popup
    var source = "/imapLoginExplanation.html";
    var width = 400;
    var align = "center";
    var top = 100;
    var padding = 10;
    var backgroundColor = "#FFFFFF";
    var borderColor = "#000000";
    var borderWeight = 4;
    var borderRadius = 5;
    var fadeOutTime = 300;
    var disableColor = "#666666";
    var disableOpacity = 40;
    var loadingImage = "/loading.gif";
 
    //This method initialises the modal popup
    $(".modal").click(function() {
 
        modalPopup( align,
		    top,
		    width,
		    padding,
		    disableColor,
		    disableOpacity,
		    backgroundColor,
		    borderColor,
		    borderWeight,
		    borderRadius,
		    fadeOutTime,
		    source,
		    loadingImage );
 
    });	
 
    //This method hides the popup when the escape key is pressed
    $(document).keyup(function(e) {
        if (e.keyCode == 27) {
            closePopup(fadeOutTime);
        }
    });
 
  });
 
</script>